* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-zoom: 100%;
  min-zoom: 100%;
}

button {
  width: 100%;
  border: none;
}

.refresh-button,
.site-event-button,
.scanevent-button,
.scanfailed-button,
.general-button, 
.box {
  border-radius:2.5px;
}

p {
  text-align: center;
}

section .heading-container p {
  font-weight: bold;
  font-size: larger;
  color: rgb(80, 80, 80);
}

h2 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

i {
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: white;
}

section .button-container a {
  color: black;
}

.header {
  position: relative;
  background-color: rgb(31, 31, 174);
  color: white;
  height: 65px;
}

.header h2 {
  position: absolute;
  bottom: 10px;
  font-size: medium;
}

section .heading-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px auto 10px;
  width: 85%;
}

section .heading-container .scan-serial {
  color: rgb(126, 126, 126);
  font-size: 14px;
  margin: 10px;
}

/* BUTTONS */

section .button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;    /* column-gap: 10px; */
  width: 85%;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
}

/* scanfailed-button */

.scanfailed-button {
  background-color: rgb(31, 31, 174);
  color: #fff;
  height: 50px;
  transition: opacity 0.15s;
  text-align: center;
  width: 100%;
}

.scanfailed-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.scanfailed-button:active {
  opacity: 0.5;
}

/* generalevent-button */
.general-button {
  background-color: rgb(236, 227, 227);
  height: 50px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.general-button:hover {
  background-color: rgba(214, 206, 206, 0.945);

}

.general-button:active {
  opacity: 0.5;
}

/* scanevent-button */
.scanevent-button {
  background-color: rgb(236, 227, 227);
  height: 50px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.scanevent-button:active {
  opacity: 0.5;
}

.scanevent-button:hover {
  background-color: rgba(214, 206, 206, 0.945);
}

/* refresh and site event button */
section .button-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  width: 85%;
  margin: 50px auto 32px;
}

/* .refresh-button */
.refresh-button {
  background-color: rgb(31, 31, 174);
  color: #fff;
  height: 50px;
  width: 100px;
  transition: opacity 0.15s;
}

.refresh-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.refresh-button:active {
  opacity: 0.5;
}

.refresh-button i {
  padding-right: 10px;
}

/* site-event-button */
.site-event-button {
  background-color: rgb(31, 31, 174);
  color: #fff;
  height: 50px;
  width: 100px;
  transition: opacity 0.15s;
}

.site-event-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.site-event-button:active {
  opacity: 0.5;
}

/* footer */
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  height: 2.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4ms ease-in-out;
}

.settings-button:focus {
  background-color: rgba(128, 128, 128, 0.4);
}

.settings-button:hover {
  cursor: pointer;
}

.settings-text {
  display: inline;
  margin-left: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'1,
    'wght'300,
    'GRAD'0,
    'opsz'48
}

.text-box {
  height: 80px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  border-width: 1px;
  margin-bottom: 30px;
  resize: none;
}

.text-box::placeholder {
  padding: auto;
  font-size: 16px;
  color: rgb(192, 192, 192);
}

/* IMPORT SCANFAILED CSS*/

section .text-container {
  width: 85%;
  margin: 10px auto 10px;
}

section .text-container p {
  text-align: left;
  margin-bottom: 5px;
}

/* button */

#failure-type-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}


/* GENERAL EVENT */
/* button */
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.button-container .box {
  background-color: rgb(236, 227, 227);
  height: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.15ms;
  text-align: center;
}

/* SCANNER EVENT CSS */
section .event-type {
  margin: 10px 0;
}

/* button */
.button-container .scanevent-button {
  text-align: center;
}

.cancel-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  width: 85%;
  margin: 4rem auto 0;
}

.cancel-button-container .box {
  background-color: rgb(6, 12, 69);
  height: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
  color: #fff;
  contain: content;
}

.cancel-button-container .box:hover {
  opacity: 0.8;
}

.cancel-button-container .box:active {
  opacity: 0.8;
}

.scanner-event-type {
  margin-bottom: 0;
}

.scanner-event-type .box {
  margin-top: 0.9rem;
}

.dashboard-button:focus {
  background-color: rgba(128, 128, 128, 0.4);
}

.dashboard-button{
  transition: all 0.4ms ease-in-out;
}

.dashboard-button:hover {
  cursor: pointer;
}

#keep-active-btn,
#event-resolved-btn {
  visibility: hidden;
}

#keep-active-btn {
  background: rgb(31, 31, 174);
}

#event-resolved-btn {
  background: rgb(10, 137, 103);
  padding: 0 10px;
}
